<h1>Car Details</h1>

<p><strong>Brand:</strong> <%= @car.brand %></p>
<p><strong>Model:</strong> <%= @car.model %></p>


<%= link_to 'Back to List', cars_path %> |
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= button_to "Destroy this table", @car, method: :delete %>
